.create_event {
    width:300px;
    float: left;
}

.create_event input[type="text"], input[type="password"]{
    margin: 0px;

}

.create_event textarea{
    width:300px;
    height: 176px;
    
}

.tbl_paticipants td,th{
padding: 0 7px;
vertical-align: bottom;
}

.tbl_paticipants td:nth-child(2) {
width:100px;
}

.tbl_paticipants td:nth-child(3) {
padding-bottom: 10px;
}

#user-sidebar
{
    margin-left: 320px;
}



.tbl_paticipants input[type="text"], input[type="password"] {
margin: 0px 0 !important;

}
