#login_wrapper {
    padding: 0 0 30px 0;
    width: 350px;
    background-color: white;
    margin: 60px auto 40px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;       
     text-align: center;

}

#login_wrapper h1 {
    padding-bottom: 10px;

}

#login_form {
    padding: 0 40px 0px 40px;
    padding-top: 0;
}

.login {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,0);
}

.login-help {
    margin: auto;
}

#forgotten {
    display: inline-block;
    font-size: 0.8em;
    padding-top: 20px;
}

.login-help a {
    font-size: 0.8em;
    display: inline-block;
    padding-right: 10px;
    transition: color linear 0.3s;
    -webkit-transition: opacity linear 0.4s;
    -moz-transition: opacity linear 0.4s;
    -o-transition: opacity linear 0.4s;
    height: 13px;
}


#login-logo {
    display: block;
    position: relative;
    margin: 0 auto;
    top: -40px;
    height: 90px;
    width: 90px;
    background: url('../css/wallet-512.gif') center center no-repeat #F95252;
    background-size: 50px 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    z-index: 100;
}